<div class="row" style="margin-left: 3%; margin-top: 2%">
  <div class="col-md-4">
    <p>
      Nome: teste1 Idade: 1 Porte: pequeno
    </p>
    <p>
      Nome: teste1 Idade: 1 Porte: pequeno
    </p>
    <p>
      Nome: teste1 Idade: 1 Porte: pequeno
    </p>
  </div>
  <div class="col-md-4">
    <p>
      Nome: teste1 Idade: 1 Porte: pequeno
    </p>
    <p>
      Nome: teste1 Idade: 1 Porte: pequeno
    </p>
    <p>
      Nome: teste1 Idade: 1 Porte: pequeno
    </p>
  </div>
  <div class="col-md-4">
    <p>
      Nome: teste1 Idade: 1 Porte: pequeno
    </p>
    <p>
      Nome: teste1 Idade: 1 Porte: pequeno
    </p>
    <p>
      Nome: teste1 Idade: 1 Porte: pequeno
    </p>
  </div>
</div>