<div class="d-flex justify-content-end">
  <div class="row bar2">
    <div class="col-lg-5">
      <div class="input-group">
        <input style="margin-right: -17px;" type="text" class="form-control" placeholder="Nome de Usuario" aria-label="Username"
          aria-describedby="basic-addon1">
      </div>
    </div>
    <div class="col-lg-5">
      <div class="input-group">
        <input type="password" class="form-control" placeholder="Senha" aria-label="Password" aria-describedby="basic-addon1">
      </div>
    </div>
    <div class="col-lg-2">
      <button type="button" class="btn btn-light">Entrar</button>
    </div>
  </div>
</div>