<div class="row bar">
  <div class="col-md-2">
    <div class="d-flex justify-content-start">
      <img class="logo" src="../../assets/img/logoAdopet.png" alt="Adopet">
    </div>
  </div>
  <div class="col-md-6 inputSearch">
    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-light" style="margin-right: 2%;">Quero Cachorro!</button>
      <button type="button" class="btn btn-light" style="margin-right: 2%;">Quero Gato!</button>
      <button type="button" class="btn btn-light" style="margin-right: 2%;">Quero Coelho!</button>

    <app-busca></app-busca>
    </div>

  </div>
  <div class="col-md-3" style="margin-top: 15px;">
    <div class="d-flex justify-content-end">
      <div class="col-lg-2">
        <button type="button" class="btn btn-light">Entrar</button>
      </div>
      <div class="col-md-2">
        <div class="col-lg-2">
          <button type="button" class="btn btn-light">Registrar-se</button>
        </div>
      </div>
    </div>
  </div>
</div>