/* div {
    border: 1px solid red;
} */

.bar {
    background-color: #008B8B;
    height: 75px;
    width: 102%;
    box-shadow: 1px 2px 10px gray;
}

.bar2 {
    margin-top: 15px;
    margin-right: 5px;
}

.logo {
    height: 77px;
    margin-left: 30px;
}

.inputSearch {
    margin-top: 15px;
}